<%- include('../components/navbar'); %>
    <div style="overflow: auto;"
        class="d-flex flex-column justify-content-center align-items-center container h-100 w-100 text-dark mw-100">
        <div id="pageDiv" class="d-block border rounded shadow-lg col-xl-4 col-12 p-3">
            <div
                class="d-flex w-100 flex-row justify-content-xl-start justify-content-center align-items-center flex-wrap">
                <a href="../" id="backBtn"
                    class="btn col-auto btn-outline-dark m-0 p-0 px-2 py-1 cursor-pointer rounded">
                    <i class="fs-5 bi bi-arrow-return-left"></i> <br>
                    <span class="fs-6 fw-normal">Voltar</span>
                </a>
                <h5 class="col-auto ms-2 p-2 text-uppercase text-md-start text-center m-0"> Esqueci minha senha</h5>
                <hr class="w-100 bg-dark d-block">
                <p class="fs-6 fw-normal">Para redefinir sua senha, precisamos que você informe o e-mail que você
                    registrou sua conta, enviaremos um e-mail para confirmar.</p>
                <form method="post" class="row col-12">
                    <div class="col-12 d-flex flex-column justify-content-center mt-xl-0 mt-3">
                        <label for="validationCustomUsername" class="fw-bold form-label">E-mail *</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">✉️</span>
                            <input name="user_email" 
                            value="<%= typeof input_user_email === 'undefined' ? '' : input_user_email %>" type="text" class="form-control" id="validationCustomUsername"
                                aria-describedby="inputGroupPrepend" required placeholder="Digite aqui">
                            <div class="invalid-feedback">
                                E-mail inválido, tente novamente.
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-center my-3">
                        <button class="btn btn-dark shadow" type="submit"><i class="bi bi-box-arrow-in-right"></i>
                            Enviar e-mail</button>
                    </div>
                    <div class="col-12 d-flex flex-row justify-content-end align-items-center my-4">
                        <a href="/login" class="fw-bold btn btn-outline-primary shadow text-start"><i
                                class="bi bi-person-fill-add m-0 p-0 fs-5"></i> Acessar conta que já existe</a>

                    </div>

                </form>

            </div>
        </div>
    </div> <%- include('../components/footer'); %>